/** index.css */
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);

:root {
  font-size: 16px;
}

body {
  font-family: 'PT Serif', serif;
  background: #F8F8F8;
  color: #222;
  margin: 0px;
  padding: 0px;
}

#logo-img {
  width: 100px;
  text-align: center;
}

main {
  padding-top: 2em;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

#catch {
  font-size: 2rem;
  font-weight: lighter;
  margin: 1em;
}

#ending {
  font-weight: lighter;
  letter-spacing: 10px;
}

p {
  text-align: center;
}
